## 上海二手房市场数据分析

#### 以下为上海地区某时期内的二手房数据，存在 houses.csv中，每条房源包含下列信息，请按照要求进行统计分析：

![jupyter](https://cdn.py2china.cn/study-group/pandas/8-1.png)

In [6]:
# coding:utf8
import pandas as pd

#### 用 pandas 读取 csv 格式文件，并将所有字段的重复数据去除（阅读参考文章①②）
>①　python 去除重复行 https://blog.csdn.net/erinapple/article/details/79332780

>②　pandas读取csv文件的操作 https://blog.csdn.net/Bin_1022/article/details/83413470

In [34]:
#https://blog.csdn.net/stone9159/article/details/79071316
data = pd.read_csv('houses.csv',encoding='gbk')
data_new = data.drop_duplicates()
data_new

,Unnamed: 0,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
0,0,5dd2198f18bba2b4a9a0b854,大华电梯两房/房型正气/开门南北通/房东诚意出售,690.0,76531,大华锦绣华城(十六街区)(公寓),90.16,2010,2室2厅,南,简装,中楼层(共18层),板楼,浦东,北蔡
1,1,5dd2198f18bba2b4a9a0b855,非底楼 满五年唯一 税费少 婚房装修 楼称佳 户型方正,330.0,52290,芳雅苑,63.11,1995,2室1厅,南,精装,低楼层(共6层),板楼,浦东,北蔡
2,2,5dd2198f18bba2b4a9a0b856,满五唯一+7号线锦绣路+复式房+带阁楼+小区央位+精装,500.0,62878,锦博苑,79.52,2007,2室2厅,南,精装,高楼层(共6层),板楼,浦东,北蔡
3,3,5dd2198f18bba2b4a9a0b857,13号线陈春路地铁400米中间楼层诚意卖看房方便,330.0,45866,鹏海小区,71.95,1997,2室1厅,南,简装,中楼层(共6层),板楼,浦东,北蔡
4,4,5dd2198f18bba2b4a9a0b858,朝阳正气一房，采光好，坐看花园，户型方正，看房方便,460.0,83942,万邦都市花园,54.80,2004,1室1厅,南,简装,中楼层(共11层),板楼,浦东,北蔡
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69649,96117,5ddbc9f0b5aadfc07d6d5d19,满五唯一 精装修 东边套窗户全明 顶楼带阁楼和露台,470.0,51894,美兰湖岭域,90.57,2010,3室1厅,东 南 北,精装,高楼层(共6层),板楼,宝山,罗店
69650,96118,5ddbc9f0b5aadfc07d6d5d1a,美兰湖颐景园 2室2厅 276万,276.0,32838,美兰湖颐景园,84.05,2007,2室2厅,南,精装,低楼层(共5层),板楼,宝山,罗店
69651,96136,5ddbc9f2b5aadfc07d6d5d2c,罗南二村 2室1厅 175万,175.0,25061,罗南二村,69.83,1996,2室1厅,南,简装,高楼层(共6层),板楼,宝山,罗店
69652,96141,5ddbc9f2b5aadfc07d6d5d31,五楼低总价，两房朝南，满五唯一，格局好，配套齐全,185.0,26493,罗南二村,69.83,1996,2室1厅,南,简装,高楼层(共6层),板楼,宝山,罗店
69653,96157,5ddbc9f2b5aadfc07d6d5d41,满五唯一，带电梯，精装修近地铁，户型方正楼层好,368.0,39983,美兰湖岭域,92.04,2010,2室2厅,南,精装,中楼层(共6层),板楼,宝山,罗店

#### 请统计出总房源数量、总小区数量、总版块数量（任务提示：直接统计数据的条数，即用 len 函数即可。阅读参考文章③）
>③　简单介绍Python中的len()函数的使用 https://www.jb51.net/article/63595.htm

In [35]:
#总房源数量
len(data_new._id)

69654

In [36]:
#总小区数量
len(data_new['xiaoqu_name'].unique())

8333

In [37]:
#总版块数量
len(data_new['district_name'].unique())

15

#### 请统计出有哪些不同的户型、有哪些不同的装修情况、有哪些不同的建造年份（任务提示：可用 unique 函数进行统计。阅读参考文章④）
>④　pandas常用函数 https://blog.csdn.net/qq_29132713/article/details/89946985

In [38]:
#户型种类
data_new.huxing.unique()

array(['2室2厅 ', '2室1厅 ', '1室1厅 ', '4室3厅 ', '3室1厅 ', '3室2厅 ', '4室2厅 ',
       '1室2厅 ', '2室0厅 ', '5室1厅 ', '1室0厅 ', '5室3厅 ', '5室2厅 ', '4室1厅 ',
       '4室4厅 ', '6室3厅 ', '5室6厅 ', '6室2厅 ', '5室4厅 ', '7室3厅 ', '3室3厅 ',
       '9室2厅 ', '7室2厅 ', '7室1厅 ', '6室4厅 ', '6室1厅 ', '8室4厅 ', '3室0厅 ',
       '7室4厅 ', '7室5厅 ', '4室5厅 ', '9室6厅 ', '9室4厅 ', '6室5厅 ', '10室1厅 ',
       '4室0厅 ', '8室1厅 ', '9室3厅 ', '9室9厅 ', '5室5厅 ', '8室3厅 ', '2室3厅 ',
       '7室6厅 ', '8室2厅 ', '0室0厅 ', '6室6厅 ', '10室6厅 ', '2室4厅 ', '6室0厅 ',
       '10室2厅 ', '7室0厅 ', '3室4厅 ', '8室5厅 ', '10室3厅 ', '5室0厅 ', '3室5厅 '],
      dtype=object)

In [39]:
#装修情况种类
data_new.zhuangxiu.unique()

array([' 简装 ', ' 精装 ', ' 毛坯 ', ' 其他 '], dtype=object)

In [40]:
#建造年份种类
data_new.buildyear.unique()

array([2010, 1995, 2007, 1997, 2004, 1994, 2011, 2012, 1998, 2013, 1999,
       2016, 2000, 2005, 1996, 2003, 2015, 2006, 2009, 1993, 2002, 2014,
       1992, 2008, 2001, 2019, 2018, 1987, 1991, 2017, 1989, 1988, 1982,
       1983, 1984, 1981, 1985, 1977, 1986, 1990, 1979, 1980, 1953, 1976,
       1958, 1978, 1969, 1974, 1975, 1955, 1971, 1954, 1956, 1959, 1968,
       1964, 1960, 1967, 1972, 1961, 1973, 1936, 1911, 1941, 1948, 1949,
       1939, 1933, 1940, 1946, 1937, 1910, 1945, 1957, 1965, 1966, 1970,
       1963, 1950, 1962, 1930, 1920, 1947, 1938, 1934, 1935, 1921, 1926,
       1912, 1924, 1928, 1931, 1943, 1900, 1952, 1951])

#### 请计算出上海二手房每平方米均价

In [41]:
data_new.up_price.mean()

55051.4809056192

#### 请统计出不同户型对应的房源数量、平均面积；并从大到小进行排序，判断出主流户型是什么？平均面积多大？（任务提示：以 huxing 为分组对象，展示 size 列，统计户型数量和 size 平均数。阅读参考文章⑤⑥⑦⑧）
>⑤　很全的groupby、agg，对表格数据分组与统计 https://blog.csdn.net/u013317445/article/details/85268877

>⑥　value_counts()的基础及进阶用法 https://blog.csdn.net/Late_whale/article/details/103317396

>⑦　利用GroupBy技术进行分组 https://blog.csdn.net/weixin_38168620/article/details/80100201

>⑧　pandas使用sort_values排序 https://www.jianshu.com/p/d12af2b287b6

In [67]:
'''
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html
'''

#不同户型的房源数量
# data_new.huxing.value_counts()
#不同户型的平均面积
# data_new['size'].groupby(data_new.huxing).mean().sort_values()
data_cat=data_new.groupby('huxing')['size'].agg([('房源数量','count'),('平均面积','mean')]).sort_values(by=['房源数量','平均面积'],ascending=[False,True])
data_cat

         房源数量         平均面积
huxing
2室1厅    17364    66.915066
2室2厅    12990    93.016552
3室2厅    12618   129.362787
1室1厅    12103    46.955651
4室2厅     3613   208.867312
3室1厅     3451    91.561336
1室0厅     1914    36.206541
2室0厅     1369    49.615223
1室2厅     1192    67.410990
5室2厅      855   286.614175
5室3厅      584   360.780565
4室3厅      566   272.177951
6室3厅      181   395.391215
6室2厅      147   289.408435
4室1厅      145   154.547586
3室3厅      134   175.504030
3室0厅      107    68.571869
5室4厅       51   403.056667
6室4厅       49   516.186122
7室3厅       36   461.077222
5室1厅       32   225.869375
7室2厅       30   310.042667
4室4厅       21   265.587143
6室1厅       11   170.230909
8室2厅        9   366.875556
7室4厅        9   535.334444
2室3厅        8   118.597500
6室5厅        7   669.482857
8室3厅        6   474.710000
7室5厅        5   532.396000
8室4厅        5   622.384000
0室0厅        4   237.622500
9室2厅        4   757.650000
4室0厅        3   192.590000
5室6厅        3   344.720000
9室4厅        3   409.463333
7室1厅        2   177.200000
5室5厅        2   334.585000
7室6厅        2   406.005000
9室6厅        2   473.775000
6室0厅        2   504.425000
5室0厅        1    89.600000
3室4厅        1    94.370000
2室4厅        1   129.400000
7室0厅        1   161.440000
4室5厅        1   321.000000
10室2厅       1   370.000000
3室5厅        1   376.210000
8室1厅        1   386.170000
10室6厅       1   473.610000
10室1厅       1   544.990000
9室3厅        1   593.010000
10室3厅       1   598.320000
9室9厅        1  1352.240000
6室6厅        1  1440.160000
8室5厅        1  1663.100000

In [68]:
#主流户型与平均面积
data_cat.head(10)

         房源数量        平均面积
huxing
2室1厅    17364   66.915066
2室2厅    12990   93.016552
3室2厅    12618  129.362787
1室1厅    12103   46.955651
4室2厅     3613  208.867312
3室1厅     3451   91.561336
1室0厅     1914   36.206541
2室0厅     1369   49.615223
1室2厅     1192   67.410990
5室2厅      855  286.614175

#### 获取每个小区的房源数量，并按从大到小的顺序排序（阅读参考文章⑤⑥⑦⑧）

In [72]:
data_new.groupby('xiaoqu_name')['xiaoqu_name'].agg([('房源数量','count')]).sort_values(by='房源数量',ascending=False)

             房源数量
xiaoqu_name
上海康城          216
同润菲诗艾伦        117
中远两湾城         114
美岸栖庭(公寓)      106
金地艺境(宝山)      106
...           ...
莘西路122弄         1
莘浜路285弄         1
莘浜路217弄         1
莘浜路157弄         1
止园小区            1

[8333 rows x 1 columns]

#### 请统计出上海每个小区每平方米的均价（阅读参考文章⑤⑥⑦⑧）

In [73]:
data_new.groupby('xiaoqu_name')['up_price'].agg([('均价','mean')]).sort_values(by='均价',ascending=False)

                        均价
xiaoqu_name
常熟路182号      527406.000000
良友别墅         393443.000000
霞飞别墅         369767.000000
复兴西路299弄     356385.666667
兴国路322号      318560.500000
...                    ...
御景龙庭玲珑公馆      13226.000000
临潮二村          13093.000000
华鼎大楼          13055.000000
万寿新村(金山)      12680.000000
石化一村          12144.000000

[8333 rows x 1 columns]

#### 请统计出上海二手房总价排在前 5 位的房源，看看超级豪宅有多壕？（阅读参考文章⑧）

In [77]:
data_new.sort_values(by='price',ascending=False).head()

,Unnamed: 0,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
46396,48887,5dd22309303c5558c090e6d9,花园18亩 开门见3座山 背面靠山 南东2面临天然大河,35000.0,191890,世茂佘山庄园,1823.97,2008,6室3厅,南,毛坯,2层,板楼,松江,佘山
46451,48943,5dd22309303c5558c090e711,仟万精装、华庭岛屿大独栋！5亩占地、自住！价格可谈,30000.0,189672,佘山高尔夫郡,1581.68,2009,6室3厅,南 北,精装,2层,板楼,松江,佘山
18891,19869,5dd21bf518bba2b4a9a1061f,罕见！占地10亩庄园，整个园区的King！让上海都在仰望,30000.0,156613,绿城玫瑰园,1915.56,2013,6室4厅,南,毛坯,2层,板楼,闵行,马桥
28332,29721,5dd21d0718bba2b4a9a12cb3,安福路/常熟路 沿街独幢花园洋房，英式风格 地价已补,24999.0,527406,常熟路182号,474.00,1937,6室3厅,南,精装,低楼层(共3层),板塔结合,徐汇,衡山路
18875,19853,5dd21bf418bba2b4a9a1060f,（岛宅主推）占地8亩上产证 两面邻水靠大河 景观位置,21000.0,128214,绿城玫瑰园,1637.89,2014,6室4厅,南,毛坯,2层,板楼,闵行,马桥

#### 请计算出不同年代的房子数量（10年一个区间）（任务提示：先将 buildyear 列转为时间序列，再利用 groupby 函数统计出每年的房源数量，最后用 resample 函数进行汇总。阅读参考文章⑨⑩⑪）
>⑨　在DataFrame中如何将字符串转换为float（也可以参考转成str） https://cloud.tencent.com/developer/ask/47544

>⑩　python中时间转换datetime和pd.to_datetime详析 http://www.3qphp.com/python/pybase/4606.html

>⑪　resample按时间聚合 https://blog.csdn.net/sinat_41701878/article/details/80491631

In [87]:
data_new.buildyear = data_new.buildyear.astype('str')
data_new.buildyear = pd.to_datetime(data_new.buildyear)
data_new

,Unnamed: 0,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
0,0,5dd2198f18bba2b4a9a0b854,大华电梯两房/房型正气/开门南北通/房东诚意出售,690.0,76531,大华锦绣华城(十六街区)(公寓),90.16,2010-01-01,2室2厅,南,简装,中楼层(共18层),板楼,浦东,北蔡
1,1,5dd2198f18bba2b4a9a0b855,非底楼 满五年唯一 税费少 婚房装修 楼称佳 户型方正,330.0,52290,芳雅苑,63.11,1995-01-01,2室1厅,南,精装,低楼层(共6层),板楼,浦东,北蔡
2,2,5dd2198f18bba2b4a9a0b856,满五唯一+7号线锦绣路+复式房+带阁楼+小区央位+精装,500.0,62878,锦博苑,79.52,2007-01-01,2室2厅,南,精装,高楼层(共6层),板楼,浦东,北蔡
3,3,5dd2198f18bba2b4a9a0b857,13号线陈春路地铁400米中间楼层诚意卖看房方便,330.0,45866,鹏海小区,71.95,1997-01-01,2室1厅,南,简装,中楼层(共6层),板楼,浦东,北蔡
4,4,5dd2198f18bba2b4a9a0b858,朝阳正气一房，采光好，坐看花园，户型方正，看房方便,460.0,83942,万邦都市花园,54.80,2004-01-01,1室1厅,南,简装,中楼层(共11层),板楼,浦东,北蔡
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69649,96117,5ddbc9f0b5aadfc07d6d5d19,满五唯一 精装修 东边套窗户全明 顶楼带阁楼和露台,470.0,51894,美兰湖岭域,90.57,2010-01-01,3室1厅,东 南 北,精装,高楼层(共6层),板楼,宝山,罗店
69650,96118,5ddbc9f0b5aadfc07d6d5d1a,美兰湖颐景园 2室2厅 276万,276.0,32838,美兰湖颐景园,84.05,2007-01-01,2室2厅,南,精装,低楼层(共5层),板楼,宝山,罗店
69651,96136,5ddbc9f2b5aadfc07d6d5d2c,罗南二村 2室1厅 175万,175.0,25061,罗南二村,69.83,1996-01-01,2室1厅,南,简装,高楼层(共6层),板楼,宝山,罗店
69652,96141,5ddbc9f2b5aadfc07d6d5d31,五楼低总价，两房朝南，满五唯一，格局好，配套齐全,185.0,26493,罗南二村,69.83,1996-01-01,2室1厅,南,简装,高楼层(共6层),板楼,宝山,罗店
69653,96157,5ddbc9f2b5aadfc07d6d5d41,满五唯一，带电梯，精装修近地铁，户型方正楼层好,368.0,39983,美兰湖岭域,92.04,2010-01-01,2室2厅,南,精装,中楼层(共6层),板楼,宝山,罗店

In [91]:
data_by_year = data_new.groupby('buildyear')['_id'].agg([('房源数量','count')])
data_by_year

            房源数量
buildyear
1900-01-01     1
1910-01-01     1
1911-01-01     3
1912-01-01     2
1920-01-01     2
...          ...
2015-01-01  1086
2016-01-01   370
2017-01-01   113
2018-01-01    40
2019-01-01     6

[96 rows x 1 columns]

In [98]:
data_by_year.resample('10y').sum()

             房源数量
buildyear
1900-12-31      1
1910-12-31      1
1920-12-31      7
1930-12-31     36
1940-12-31    112
1950-12-31     40
1960-12-31    425
1970-12-31    234
1980-12-31   1282
1990-12-31   8536
2000-12-31  23747
2010-12-31  25136
2020-12-31  10097